[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/covid19-advisory-website-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/covid19-advisory-website-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
